* {
    margin: 0;
    padding: 0;
}

header {
    background-color: gray;
    border-radius: 5px;

    padding: 20px;
    .headerBlock{
        display: flex;
        justify-content: space-between;
        margin-bottom: 40px;
        
    }
    

    
    
    .showScore {
        margin-right: 30px;
    }
    
}

#root{
    background-color: blue;
    
}



.body{
    background-color: antiquewhite;
    text-align: center;
    border-radius: 5px;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;




}

.card {
    width: 280px;

    height: 350px;
    overflow: hidden;
    background-color: blueviolet;
    border-radius: 15px;
    font-size: 25px;

    margin: 10px;
}


.card img {
    margin: 5px;

    max-width: 265px;
    max-height: 265px;
    border-radius: 15px;
}